<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Hub</title><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1><a href="{{ url_for('index') }}">My FEED</a></h1>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="q" placeholder="Search For Keyword">
        <button type="submit">Search</button>
    </form>
</header>
{% block content %}{% endblock %}
</body>
</html>