{% extends 'base.html' %}

{% block content %}
    <div class="articles">
        {% for article in articles %}
            <article class="article-flex">
                <div class="thumb-col">
                    {% if article[1].thumbnail_url %}
                        <img src="{{ article[1].thumbnail_url }}" alt="Thumbnail" style="max-width:180px;">
                    {% endif %}
                </div>
                <div class="info-col">
                    <h2><a href="{{ article[1].link }}">{{ article[1].title }}</a></h2>
                    <p>{{ article[1].published }}</p>
                    <p>Source: {{ article[0] }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}">Previous</a>
        {% endif %}
    
        {# Page numbers #}
        {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
                <span class="active">{{ p }}</span>
            {% else %}
                <a href="{{ url_for('index', page=p) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}